<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <system.webServer>
    <handlers>
      <add name="GenerateBarcodeHandler" verb="*" path="GenerateBarcode.ashx" type="Rightpoint.Commerce.Foundation.Common.Handlers.GenerateBarcode, Rightpoint.Commerce.Foundation.Common" />
    </handlers>
  </system.webServer>
  <sitecore>
    <linkManager>
      <providers>
        <add name="commerce">
          <patch:attribute name="type">Rightpoint.Commerce.Foundation.Common.CatalogLinkProvider, Rightpoint.Commerce.Foundation.Common</patch:attribute>
          <patch:attribute name="lowercaseUrls">true</patch:attribute>
        </add>
      </providers>
    </linkManager>
    
    <services>
      <configurator type="Rightpoint.Commerce.Foundation.Common.IoC.RegisterDependencies, Rightpoint.Commerce.Foundation.Common" />
      <register serviceType="Sitecore.Commerce.XA.Feature.Account.Repositories.IAddressEditorRepository, Sitecore.Commerce.XA.Feature.Account">
        <patch:attribute name="implementationType">Rightpoint.Commerce.Foundation.Common.Repositories.Account.AddressEditorRepository, Rightpoint.Commerce.Foundation.Common</patch:attribute>
      </register>
    </services>
    <pipelines>
      <commerce.installmentPayment.getInstallmentPayments>
        <processor type="Rightpoint.Commerce.Foundation.Common.Pipelines.Carts.GetInstallmentPayments, Rightpoint.Commerce.Foundation.Common"/>
      </commerce.installmentPayment.getInstallmentPayments>
      <commerce.installmentPayment.setInstallmentPayment>
        <processor type="Rightpoint.Commerce.Foundation.Common.Pipelines.Carts.SetInstallmentPaymentToCart, Rightpoint.Commerce.Foundation.Common"/>
      </commerce.installmentPayment.setInstallmentPayment>
      <translate.cartToEntity>
        <processor type="Rightpoint.Commerce.Foundation.Common.Pipelines.Carts.TranslateInstallmentPaymentDetails, Rightpoint.Commerce.Foundation.Common"/>
      </translate.cartToEntity>
      <translate.cartToEntity>
        <processor type="Rightpoint.Commerce.Foundation.Common.Pipelines.Carts.TranslateRemovedCartLinesDetails, Rightpoint.Commerce.Foundation.Common"/>
      </translate.cartToEntity>
      <translate.cartToEntity>
        <processor type="Rightpoint.Commerce.Foundation.Common.Pipelines.Carts.TranslateFullfillmentDetails, Rightpoint.Commerce.Foundation.Common"/>
      </translate.cartToEntity>
      <test.pipeline>
        <processor type="Rightpoint.Commerce.Foundation.Common.Pipelines.Test.TestProcessor, Rightpoint.Commerce.Foundation.Common"/>
      </test.pipeline>
      <commerce.carts.addPaymentInfo>
        <processor type="Sitecore.Commerce.Engine.Connect.Pipelines.Carts.AddPaymentInfoToCart, Sitecore.Commerce.Engine.Connect">
          <patch:delete />
        </processor>
        <processor type="Rightpoint.Commerce.Foundation.Common.Pipelines.Carts.AddPaymentInfoToCartWithCreditCard, Rightpoint.Commerce.Foundation.Common"/>
      </commerce.carts.addPaymentInfo>
      <commerce.payments.getClientToken>
        <processor type="Sitecore.Commerce.Engine.Connect.Pipelines.Payments.GetClientToken, Sitecore.Commerce.Engine.Connect">
          <patch:delete />
        </processor>
        <processor type="Rightpoint.Commerce.Foundation.Common.Pipelines.Payments.GetClientToken, Rightpoint.Commerce.Foundation.Common"/>
      </commerce.payments.getClientToken>
      <SendEmail>
        <processor type="Sitecore.EmailCampaign.Cm.Pipelines.SendEmail.FillEmail, Sitecore.EmailCampaign.Cm">
          <patch:attribute name="type">
            Rightpoint.Commerce.Foundation.Common.Email.CustomFillEmail, Rightpoint.Commerce.Foundation.Common
          </patch:attribute>
        </processor>
      </SendEmail>
      <commerce.orders.getCustomerEntitlements>
        <processor type="Rightpoint.Commerce.Foundation.Common.Pipelines.Orders.GetCustomerEntitlements, Rightpoint.Commerce.Foundation.Common"/>
      </commerce.orders.getCustomerEntitlements>
      <commerce.orders.getCustomerTicketsToPrint>
        <processor type="Rightpoint.Commerce.Foundation.Common.Pipelines.Orders.GetCustomerTicketsToPrint, Rightpoint.Commerce.Foundation.Common"/>
      </commerce.orders.getCustomerTicketsToPrint>
      <commerce.catalog.promoCodeExists>
        <processor type="Rightpoint.Commerce.Foundation.Common.Pipelines.Catalog.PromoCodeExists, Rightpoint.Commerce.Foundation.Common"/>
      </commerce.catalog.promoCodeExists>
      <commerce.catalog.getPerformances>
        <processor type="Rightpoint.Commerce.Foundation.Common.Pipelines.Catalog.GetPerformances, Rightpoint.Commerce.Foundation.Common"/>
      </commerce.catalog.getPerformances>
      <commerce.catalog.getseats>
        <processor type="Rightpoint.Commerce.Foundation.Common.Pipelines.Catalog.GetSeats, Rightpoint.Commerce.Foundation.Common"/>
      </commerce.catalog.getseats>
      <httpRequestProcessed>
        <processor patch:after="processor[@type='Rightpoint.Commerce.Foundation.Personalization.Pipelines.HttpRequestProcessed.IdentifierParamCheck, Rightpoint.Commerce.Foundation.Personalization']"
                   type="Rightpoint.Commerce.Foundation.Common.Pipelines.SessionProcessor, Rightpoint.Commerce.Foundation.Common" />
      </httpRequestProcessed>
      <commerce.cart.getminicart>
        <processor type="Rightpoint.Commerce.Foundation.Common.Pipelines.Carts.GetMiniCart, Rightpoint.Commerce.Foundation.Common"/>
      </commerce.cart.getminicart>
      <commerce.cart.revisecart>
        <processor type="Rightpoint.Commerce.Foundation.Common.Pipelines.Carts.ReviseCart, Rightpoint.Commerce.Foundation.Common"/>
      </commerce.cart.revisecart>
      <commerce.cart.removeunavailablecartitems>
        <processor type="Rightpoint.Commerce.Foundation.Common.Pipelines.Carts.RemoveUnavailableCartItems, Rightpoint.Commerce.Foundation.Common"/>
      </commerce.cart.removeunavailablecartitems>
      <commerce.cart.checknoneligiblecartitems>
        <processor type="Rightpoint.Commerce.Foundation.Common.Pipelines.Carts.CheckNonEligibleCartItems, Rightpoint.Commerce.Foundation.Common"/>
      </commerce.cart.checknoneligiblecartitems>
      <commerce.itinerary.setItineraryDataToCustomerRequest>
        <processor type="Rightpoint.Commerce.Foundation.Common.Pipelines.ItineraryPlanner.SetItineraryDataToCustomer, Rightpoint.Commerce.Foundation.Common"/>
      </commerce.itinerary.setItineraryDataToCustomerRequest>
      <commerce.itinerary.getItineraryDataFromCustomer>
        <processor type="Rightpoint.Commerce.Foundation.Common.Pipelines.ItineraryPlanner.GetItineraryDataFromCustomer, Rightpoint.Commerce.Foundation.Common"/>
      </commerce.itinerary.getItineraryDataFromCustomer>
      <commerce.itinerary.addUpdateItineraryData>
        <processor type="Rightpoint.Commerce.Foundation.Common.Pipelines.ItineraryPlanner.AddUpdateItineraryData, Rightpoint.Commerce.Foundation.Common"/>
      </commerce.itinerary.addUpdateItineraryData>
      <commerce.itinerary.getItineraryTicketsAndPasses>
        <processor type="Rightpoint.Commerce.Foundation.Common.Pipelines.ItineraryPlanner.GetItineraryTicketsAndPasses, Rightpoint.Commerce.Foundation.Common"/>
      </commerce.itinerary.getItineraryTicketsAndPasses>
      <commerce.itinerary.hideCartLineFromItinerary>
        <processor type="Rightpoint.Commerce.Foundation.Common.Pipelines.ItineraryPlanner.HideCartLineFromItinerary, Rightpoint.Commerce.Foundation.Common"/>
      </commerce.itinerary.hideCartLineFromItinerary>
      <commerce.logemail>
        <processor type="Rightpoint.Commerce.Foundation.Common.Pipelines.Email.LogEmail, Rightpoint.Commerce.Foundation.Common"/>
      </commerce.logemail>
      <commerce.sendemail>
        <processor type="Rightpoint.Commerce.Foundation.Common.Pipelines.Email.SendEmail, Rightpoint.Commerce.Foundation.Common"/>
      </commerce.sendemail>
      <mvc.getRenderer>
        <processor type="Sitecore.Mvc.Pipelines.Response.GetRenderer.GetViewRenderer, Sitecore.Mvc">
          <patch:attribute name="type">Rightpoint.Commerce.Foundation.Common.Pipelines.ExceptionHandling.GetExceptionSafeViewRenderer, Rightpoint.Commerce.Foundation.Common</patch:attribute>
        </processor>
        <processor type="Sitecore.Mvc.Pipelines.Response.GetRenderer.GetControllerRenderer, Sitecore.Mvc">
          <patch:attribute name="type">Rightpoint.Commerce.Foundation.Common.Pipelines.ExceptionHandling.GetExceptionSafeControllerRenderer, Rightpoint.Commerce.Foundation.Common</patch:attribute>
        </processor>
      </mvc.getRenderer>
      <initialize>
        <processor patch:after="processor[@type='Sitecore.Services.Infrastructure.Sitecore.Pipelines.ServicesWebApiInitializer, Sitecore.Services.Infrastructure.Sitecore']"
                   type="Rightpoint.Commerce.Foundation.Common.Helpers.MakeEntityServiceSessionAware, Rightpoint.Commerce.Foundation.Common" />
      </initialize>
      <httpRequestBegin>
        <processor patch:after="*[@type='Sitecore.Foundation.BucketResolver.Pipelines.HttpRequest.ItemResolver, Sitecore.Foundation.BucketResolver']" type="Rightpoint.Commerce.Foundation.Common.ItemResolver, Rightpoint.Commerce.Foundation.Common"/>
      </httpRequestBegin>
    </pipelines>
    <customerProvider type="Sitecore.Commerce.Services.Customers.CustomerServiceProvider, Sitecore.Commerce.Connect.Core" singleInstance="true" />
    <settings>
      <setting name="MailServer">
        <patch:attribute name="value" value="10.200.29.60" />
      </setting>
      <setting name="MailServerPort">
        <patch:attribute name="value" value="25" />
      </setting>
      <setting name="HFE.FilterProductsBySalesPeriod" value="true" />
      <setting name="HFE.StoreSessionSlidingTimeout" value="10" />
      <setting name="HFE.ResendEmail.EligiblePhrase" value=";;LOGEMAIL;;" />
      <setting name="HFE.EnableMarketingAutomationEmails" value="true" />
    </settings>
    <commerce.Entities>
      <Cart type="Sitecore.Commerce.Engine.Connect.Entities.CommerceCart, Sitecore.Commerce.Engine.Connect">
        <patch:delete/>
      </Cart>
      <Cart type="Rightpoint.Commerce.Foundation.Common.Entities.Carts.CommerceCart, Rightpoint.Commerce.Foundation.Common" />
      <CreditCardPayment type="Rightpoint.Commerce.Foundation.Common.Entities.Carts.CreditCardPaymentInfo, Rightpoint.Commerce.Foundation.Common" />
      <CartLine type="Sitecore.Commerce.Engine.Connect.Entities.CommerceCartLine, Sitecore.Commerce.Engine.Connect">
        <patch:delete/>
      </CartLine>
      <CartLine type="Rightpoint.Commerce.Foundation.Common.Entities.Carts.CartLineWithEntitlements, Rightpoint.Commerce.Foundation.Common" />
    </commerce.Entities>
    <commerce.XA>
      <models>
        <CommerceStorefront type="Sitecore.Commerce.XA.Foundation.Common.Models.CommerceStorefront, Sitecore.Commerce.XA.Foundation.Common">
          <patch:delete/>
        </CommerceStorefront>
        <CommerceStorefront type="Rightpoint.Commerce.Foundation.Common.Models.HFECommerceStorefront, Rightpoint.Commerce.Foundation.Common"/>
        <MobileAPIJsonResult type="Rightpoint.Commerce.Foundation.Common.Models.MobileAPI.MobileAPIJsonResult, Rightpoint.Commerce.Foundation.Common"/>
        <CalendarAvailableDaysJsonResult type="Rightpoint.Commerce.Foundation.Common.Models.Catalog.CalendarAvailableDaysJsonResult, Rightpoint.Commerce.Foundation.Common"/>
      </models>
    </commerce.XA>
    <commerceEngineConnector>
      <types>
        <type name="IIndexResolver">
          <patch:attribute name="type" value="Rightpoint.Commerce.Foundation.Common.Search.IndexResolver, Rightpoint.Commerce.Foundation.Common" />
        </type>
      </types>
    </commerceEngineConnector>
    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration>
          <fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="promocodes" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" returnType="stringCollection" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <field fieldName="salesperiodenddate" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" returnType="datetime" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
              <field fieldName="salesperiodstartdate" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" returnType="datetime" settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
            </fieldNames>
          </fieldMap>
          <indexFieldStorageValueFormatter>
            <converters hint="raw:AddConverter">
              <converter typeConverter="Sitecore.ContentSearch.Converters.IndexFieldIDValueConverter, Sitecore.ContentSearch">
                <patch:attribute name="typeConverter">Rightpoint.Commerce.Foundation.Common.Search.HfeIndexFieldIDValueConverter, Rightpoint.Commerce.Foundation.Common</patch:attribute>
              </converter>
            </converters>
          </indexFieldStorageValueFormatter>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
    <events>
      <event name="item:saved">
        <handler type="Sitecore.XA.Foundation.Multisite.EventHandlers.HttpRoutesRefresher, Sitecore.XA.Foundation.Multisite" method="OnItemSaved">
          <patch:attribute name="type">Rightpoint.Commerce.Foundation.Common.EventHandlers.HttpRoutesRefresher, Rightpoint.Commerce.Foundation.Common</patch:attribute>
        </handler>
      </event>
      <event name="item:saved:remote">
        <handler type="Sitecore.XA.Foundation.Multisite.EventHandlers.HttpRoutesRefresher, Sitecore.XA.Foundation.Multisite" method="OnItemSavedRemote">
          <patch:attribute name="type">Rightpoint.Commerce.Foundation.Common.EventHandlers.HttpRoutesRefresher, Rightpoint.Commerce.Foundation.Common</patch:attribute>
        </handler>
      </event>
    </events>
  </sitecore>
</configuration>